body{
    box-sizing: content-box;
    margin: 0px;
    padding: 0px;
    font-family: cursive;
    background-image: url(../Image/Music\ cover.jpg);
    background-size: 1300px;
}
.left img{
    width: 60px;
    margin: auto;
    display: block;
}
.left{
    /* border: 2px solid red; */
    position: absolute;
    top: 20px;
    left: 40px;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.centre{
    /* border: 2px solid blue; */
    position: relative;
    width: 851px;
    display: block;
    margin: 5px auto;
}
.nav li{
    list-style: none;
    display: inline-block;
    margin: 19px;
    padding: 4px;
    font-size: 20px;
}
.nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.centre ul{
    word-spacing: 23px;
    top: 18px;
    position: absolute;
}
.nav li a:hover{
    color: rgb(240, 54, 54);
}
.container{
    border: 2px solid rgb(0, 0, 0);
    width: 700px;
    margin: 41px 81px;
    border-radius: 10px;
    background-image: url(../Image/Kaori\ music\ theme.jpg);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center;
}
.sub_heading h2{
    margin: 20px 0px;
    text-align: center;
    font-size: 30px;
    color: white;
}
.information input{
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 330px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-family: cursive;
}
.container button{
    margin: 30px auto;
    display: block;
    width: 351px;
    border: none;
    border-radius: 10px;
    padding: 8px;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}
.container button:hover{
    background-color: rgb(202, 202, 202);
}
.right{
    /* border: 2px solid black; */
    position: absolute;
    right: 62px;
    top: 38px;
}
.right input{
    border: none;
    border-radius: 10px;
    padding: 8px;
    background-color: #ffffff;
    font-family: cursive;
}
header{
    background-color: #000000db;
    height: 112px;
}
ul{
    margin-top: 0px;
}
.header{
    margin-top: -5px;
}  